<AuthorizeView>
    <Authorized>
        <a href="MicrosoftIdentity/Account/SignOut"><div class="login_div">Logg ut&nbsp;@context?.User?.Identity?.Name</div></a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn"><div class="login_div">Logg inn</div></a>
    </NotAuthorized>
</AuthorizeView>

