@page "/"
@using Microsoft.AspNetCore.Components.Web;
@namespace UiT.WordCloud.BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Globalization
@using Microsoft.AspNetCore.Localization


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link href="flags/flag-icons.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />


    <!-- //TODO: Må matche {assembly name}.styles.css, hvis ikke virker ikke cascading stylesheets -->
    <link href="UiT.WordCloud.styles.css" rel="stylesheet" />
    
    <!-- MudBlazor -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
@{  // Denne delen setter cookie for språk
    this.HttpContext.Response.Cookies.Append(
        CookieRequestCultureProvider.DefaultCookieName,
        CookieRequestCultureProvider.MakeCookieValue(
            new RequestCulture(
                CultureInfo.CurrentCulture,
                CultureInfo.CurrentUICulture)));
}
    
    <component type="typeof(UiT.WordCloud.BlazorServer.App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script type='text/javascript' src='/js/ordsky.js'></script>
    <script type='text/javascript' src='/js/wordcloud2.js'></script>
</body>
</html>
