@page "/ordsky"

<PageHeading Title="Ordsky" Heading="Ordsky"></PageHeading>


<div id="my_wordcloud_canvas" style="width:1000px;height:1000px"></div>

@code {
    [Inject] IJSRuntime js { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("drawWordCloud");
            Console.WriteLine("Wordcloud");
        }
    }
}
