@inherits LayoutComponentBase

<!-- Default Emplty Template -->
<!-- 
<main> (alfa)Body </main>
-->

<!-- UiT Template -->
<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider Theme="myUI.GetTheme()" IsDarkMode="myUI.IsDarkTheme"/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudTooltip Text="Open/Close nav menu">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => myUI.NavDrawerToggle())" />
        </MudTooltip>

        @*<MudImage Alt="The artic univerity of Norway" Src="/images/uit_en.png" Class="ml-2 mr-8"></MudImage>*@
        <MudText Class="ml-3" Style="font-size:1.1em;font-weight:500;color:#f5f5f5">Ordsky [STATUS: UNDER UTVIKLING]</MudText>
        
        <MudSpacer />
@*        <MudTooltip Text="Dark mode">
            <MudSwitch @bind-Checked="myUI.IsDarkTheme" Color="Color.Success" Class="ma-4" T="bool" />
        </MudTooltip>*@
        @*<LanguagesComponent />*@
    </MudAppBar>
    <MudDrawer @bind-Open="myUI.NavDrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="@DrawerVariant.Mini">
        <NavMenu />
        <Footer />
    </MudDrawer>
    <MudMainContent>
        <!-- TODO: Left til høyre i skjermen. -->
        <div style="padding-block-end:180px;">
            <div class="d-block pa-4">@Body</div>
        </div>
    </MudMainContent>
</MudLayout>

@code 
{
    //[Inject] NavigationManager Navigation { get; set; } = null!;

    [Inject] UiT.Components.DI.MyUIManager myUI { get; set; } = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }


}

